* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/sunset.jpg);
    background-size: cover;
  }
  #root #text {
    width: 100vw;
    height: 100vh;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .button {
    width: 4vw;
    height: 8vh;
    top: 3.5vh;
    right: 3vw;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 30px;
    color: white;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/sunset.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #root #text {
    width: 100vw;
    height: 100vh;
    font-size: 4vw;
    text-align: left;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .button {
    width: 4vw;
    height: 8vh;
    font-size: 2vw;
    top: 6vw;
    right: 10vw;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 30px;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
}