* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin pc {
  @media (max-width: 1920px) {
    @content;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes fadein1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@include pc {
  #root {

    width: 100vw;
    height: 100vh;
    background-image: url(../pic/jang.jpg);
    background-size: cover;
    @include flex(flex, center, center);

  }

  #text {
    width: 50vw;
    height: 50vh;
    font-size: 30px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 30px;
    cursor: pointer;
    @include flex(flex, center, center);
  }

  #text1 {

    width: 50vw;
    height: 50vh;
    font-size: 30px;
    text-align: left;
    animation: fadein 50s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    z-index: 0;
    cursor: pointer;
    @include flex(flex, center, center);
  }

  .button {

    width: 4vw;
    height: 8vh;
    margin-right: -90vw;
    margin-top: -85vh;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 30px;
    color: white;
    z-index: 1;
    cursor: pointer;
    }

}

//----------------------------------------------------

@include mobile {

  #root {

    width: 100vw;
    height: 150vh;
    background-image: url(../pic/jang.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    flex-direction: column;
    @include flex(flex, center, center);

  }

  #text {
    width: 100vw;
    height: 75vh;
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
    margin-top: -65vh;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    @include flex(flex, flex-start, flex-start);

  }

  #text1 {

    width: 100vw;
    height: 50vh;
    font-size: 4vw;
    text-align: left;
    font-weight: bold;
    margin-bottom: -55vh;
    position: absolute;
    animation: fadein1 10s;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    z-index: 0;
    @include flex(flex, center, center);
  }

  .button {

    width: 4vw;
    height: 8vh;
    font-size: 2vw;
    margin-right: -75vw;
    margin-top: -136vh;
    position: absolute;
    border-radius: 10px;
    color: white;
    z-index: 1;
    cursor: pointer;
    }

}