* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin pc {
  @media (max-width: 1920px) {
    @content;
  }
}

@include pc {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/room.jpg);

    #text {
      width: 100vw;
      height: 100vh;
      font-size: 30px;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(255, 255, 255);
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include flex(flex, center, center);
    }
    .button {

      width: 4vw;
      height: 8vh;
      right: 3vw;
      top: 3.5vh;
      position: absolute;
      border-radius: 10px;
      letter-spacing: 30px;
      color: white;
      z-index: 1;
      cursor: pointer;
      }
  }
}

@include mobile {
  #root {

    width: 100vw;
    height: 110vh;
    background: url(../pic/room.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    flex-direction: column;

    #text {
      width: 100vw;
      height: 110vh;
      font-size: 4vw;
      text-align: left;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(255, 255, 255);
      @include flex(flex, center, center);
    }

    .button {

      width: 4vw;
      height: 8vh;
      font-size: 2vw;
      right: 10vw;
      position: absolute;
      border-radius: 10px;
      letter-spacing: 30px;
      color: white;
      z-index: 1;
      cursor: pointer;
      }
  }
}