* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 110vh;
    background-image: url(../pic/pic-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text {
    width: 50vw;
    height: 100vh;
    font-size: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text1 {
    width: 50vw;
    height: 80vh;
    font-size: 30px;
    text-align: left;
    animation: fadein 50s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    width: 4vw;
    height: 8vh;
    margin-right: -90vw;
    margin-top: -95vh;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 30px;
    color: white;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 110vh;
    background-image: url(../pic/pic-1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text {
    width: 100vw;
    height: 100vh;
    font-size: 4.2vw;
    text-align: left;
    font-weight: bold;
    margin: 4vh;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #text1 {
    width: 100vw;
    height: 100vh;
    font-size: 4.2vw;
    text-align: left;
    font-weight: bold;
    animation: fadein 30s;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .button {
    width: 4vw;
    height: 8vh;
    font-size: 2vw;
    margin-right: -75vw;
    margin-top: -97vh;
    position: absolute;
    border-radius: 10px;
    letter-spacing: 30px;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
}